body{
    background-color: #e4e5e7;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none; 
    color: #b9bed1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
a:hover{
    color: #343e5c;
}
.header{
    background-color: #fff;
}
.nav-main{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none; 
}
.btn-cart, .btn-sign{
    font-size: 11px !important;
    font-weight: 700 !important;
}
.nav-sec{
    font-size: 11px;
    font-weight: 600;
   
}
.search{
    position: relative;
}
.icon-search{
    position: absolute;
}
.text-search{
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    color: #a1a8bd;
    padding: 0 20px;
}
.text-search:focus{
    outline: none;
}
.top-page{
    background-color: #fff;
    padding: 10px 0;
    margin: 15px auto;
    border-radius: 5px;
    max-width: 1110px;
}
.dd-panel p{
    font-size: 11px;
    font-weight: 600;
    color: #a1a7bd;
    margin: 0;
}
.dd-panel a{
    text-transform: uppercase;
    color: #343e5c !important;
    font-size: 11px !important;
    font-weight: 600 !important;
}
.form-panel label{
    font-size: 11px; 
    color: #a1a8bd;
    font-weight: 600;
}
.form-panel input{
    background-color: #f0f2f7;
    border: 1px solid #e3e8f0;
    font-size: 13px;
    font-weight: 600;
    color: #343e5c;
    border-radius: 25px;
    padding: 9px 0px 9px 14px;
    margin: 0 5px;
}
.in1{
    width: 155px;
}
.in2{
    width: 60px;
    
}
.in3{
    color: #343e5c !important;
    font-size: 13px !important;
    padding: 5px 0 0 34px !important;
    margin: 10px 0 0 0;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b c" "d e e" "f g h" "i j k";
    grid-gap: 35px;
}
.grid-1{
    grid-area: a;
}
.grid-2{
    grid-area: b;
}
.grid-3{
    grid-area: c;
}
.grid-4{
    grid-area: d;
}
.grid-5{
    grid-area: e;
    background-image: url(../img/grid5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.grid-6{
    grid-area: f;
}
.grid-7{
    grid-area: g;
}
.grid-8{
    grid-area: h;
}
.grid-9{
    grid-area: i;
}
.grid-10{
    grid-area: j;
}
.grid-11{
    grid-area: k;
    background-image: url(../img/grid11.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 0px;

}
.grid-item{
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}
.grid-img{
    margin-top: 15px;
    height: 200px;
    margin-bottom: 15px;
}
.prod-name{
    font-size: 16px;
    font-weight: 600;
    color: #1c1e23;
    margin-bottom: 11px;
}
.prod-color{
    text-transform: uppercase;
    color: #b8bfd3;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 7px;
}
.prod-price{
    color: #343e5c;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}
.page-numb{
    background-color: #fff;
    margin: 15px auto;
    border-radius: 5px;
    max-width: 1110px;
}
.sale-item{
    text-align:  center;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
}
.sale-b{
    border-left: 1px solid #f0f2f7;
    border-right: 1px solid #f0f2f7;
}
.sale-img{
    height: 270px; 
}
.sale-name{
    font-size: 16px;
    font-weight: 500;
    color: #343e5c;
}
.sale-color{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    color: #a1a8bd; 
}
.sale-price{
    color: #343e5c;
    font-size: 14px;
    font-weight: 500;
}
.sale-price span{
    color: #b8bfd3;
    text-decoration: line-through;
}
.page-sales{
    background: #fff;
    border-radius: 10px;
}
.title-sales{
    border-bottom: 1px solid #f0f2f7;
}
.title-sales h5{
    margin: 20px 0;
    font-size: 11px;
    color: #343e5c;
    font-weight: 600;
    text-transform: uppercase;
}
.page-cust{
    margin-top: 30px;
    background: #fff;
    padding: 0 0 36px 0;
}
.title-cust h1{
    font-weight: 900;
    font-size: 32px;
    margin: 60px 0 13px;
}
.post-title-cust h4{
    font-size: 16px;
    color: #b9bed1;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    margin: 0 0 45px;
}
.avatar{
    display: inline;
    border-radius: 100%;
}
.cust-name{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 15px;
}
.cust-name span{
    font-family: 'Crimson Text', serif;
    color: #b9bed1;
    font-style: italic;
}
.cust-text{
    font-family: 'Crimson Text', serif;
    color: #3a405b;
    font-size: 16px;
    width: 100%;
    max-width: 240px;
    font-weight: 600;
}
.cust-info{
    margin-bottom: 15px;
}
.page-footer{
    background-color: #222328;
}
.nav-item .icon-tw span{
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 24px;
    height: 18px;
    margin: 0 auto;
    display: block;
}
.nav-item .icon-fb span{
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: -41px 0px;
    width: 24px;
    height: 18px;
    margin: 0 auto;
    display: block;
}
.nav-item .icon-gp span{
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: -78px 0px;
    width: 24px;
    height: 18px;
    margin: 0 auto;
    display: block;
}
.icon-tw:hover span{
    background-position: 0px -40px;
}
.icon-fb:hover span{
    background-position: -41px -40px;
}
.icon-gp:hover span{
    background-position: -78px -40px;
}
.icon-m{
    margin-left: 24px;
}
.footer-up{
    padding: 44px 0 44px;
    border-bottom: 1px solid #2d2e33;
}
.footer-text{
    font-size: 14px;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: 600;
    color: #656569;
}
.footer-down{
    padding: 44px 0;
}
.nav-foot a{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
.nav-foot a:hover, .nav-down a:hover{
    color: #b9bed1;
    text-decoration: none;
}
.nav-down a{
    color: #606165;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
}
.title-panel{
    font-size: 11px;
    font-weight: 600;
    color: #343e5c;
    text-transform: uppercase;
    padding: 17px 2px;
    margin: 0;
}
.form-panel-1 label, .form-panel-2 label, .form-panel-3 label{
    color: #343e5c;
    font-size: 13px;
    font-weight: 600;
}
.panel-mark{
    color: #b8bfd3;
    font-size: 11px;
    font-weight: 600;
}
.form-panel-1{
    background-color: #fff;
    border-radius: 5px;
    padding: 0 15px;
}
.form-panel-2{
    background-color: #fff;
    border-radius: 5px;
    padding: 0 15px;
    margin-top: 30px;
}
.form-panel-3{
    background-color: #fff;
    border-radius: 5px;
    padding: 0 15px;
    margin-top: 30px;
}
.item-row{
    padding: 3px 4px;
}
.item-row-2 {
    padding: 3px 0px 3px 28px;
}
.panel-link{
    color: #2754eb;
    font-size: 11px;
    font-weight: 600;
    text-decoration: underline;
    padding: 15px 0;
}
.carousel-cust{
    padding: 0;
}
.jbl{
    position: relative;
}
.jbl-panel{
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 9px 20px;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;
}
.jbl-panel .prod-name{
    margin-bottom: 0;
}
.jbl-price{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #1c1e23;
    padding: 5px 8px;
    border-radius: 5px;
}
.jbl-price p{
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    padding: 0;
    margin: 0;
}
.btn-jbl{
    font-size: 11px !important;
    font-weight: 600 !important;
    border: 1px solid #f0f2f7;
    padding: 5px 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-jbl:hover{
    background-color: #f0f2f7;
}
input:focus{
    outline: none;
}
/* fix bootstrap */
.carousel-indicators li {
    width: 9px;
    height: 10px;
    border-radius: 100%;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #00e2aa;
    background-color: #00e2aa;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #a1a7bd;
}
.page-item.active .page-link {
    font-size: 14px;
    font-weight: 600;
    z-index: 1;
    color: #b9bed1;
    background-color: #fff;
    border-color: #fff;
    padding: 11px 15px;
    border-radius: 100%;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(222,224,229,1);
box-shadow: 0px 5px 15px 0px rgba(222,224,229,1);
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #3a405b;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    border: none;
    padding: 11px 16px;
    border-radius: 100%;
}
.page-link:hover {
    z-index: 2;
    color: #b9bed1;
    text-decoration: none;
    background-color: #fff;
    border-color: none;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(222,224,229,1);
    box-shadow: 0px 5px 15px 0px rgba(222,224,229,1);
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-radius: 100%;
}
.page-item:last-child .page-link {
    border-radius: 100%;
}
.form-control:focus {
    color: none; 
    background-color: transparent; 
    border-color: none; 
    outline: 0; 
    -webkit-box-shadow: none; 
            box-shadow: none;
}
.navbar-light .navbar-nav .nav-link {
    color: #343e5c;
}
.card-board{
    margin-bottom: 30px;
}
.card-header{
    background-color: #fff;
    border: none;
}
.card{
    border-bottom: 1px;
    border-radius: 0px;
    border-bottom-color: #f0f2f7;
}
.accordion .card:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.accordion .card:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:not(:disabled):not(.disabled) {
    font-size: 12px;
    font-weight: 500;
}
.list-group-item{
    font-size: 11px;
    font-weight: 500;
    color: #a1a7bd;
    background: #f0f2f7;
    border-color: #dfe4ee;
    border-left: none;
    border-right: none;
}
.list-group{
    border: none;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}






/* check */
.control {
    display: block;
    position: relative;
    padding-left: 34px;
    margin-bottom: 18px;
    padding-top: 6px;
    cursor: pointer;
    font-size: 13px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 30px;
    width: 30px;
    background: #e6e6e6;
    border: 0px hidden #000000;
    border-radius: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.control-radio .control_indicator {
    border-radius: 100%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #00e2aa;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #00e2aa;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    -webkit-box-sizing: unset;
            box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 13px;
    top: 9px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}